
*{
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;

    background-color: #F6D8AE;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
}
.container{
    width: 100%;
    margin-top: 0;
    height: 100%;
    background-color: #F4D35E;
}
header{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    height: fit-content;
    border: solid;
    border-width: 1px;
    border-top: none;
}
.x{
    margin-left: 10px;
    padding-right: 10px;
    border-right: solid;
    border-color: black;
    border-width: 0 1px 0 0;
}
.y{
    margin-left: auto;
    border-left: solid;
    border-color: black;
    border-left-width: 1px;
    padding-left: 10px;
}
.ICONS{
    font-size: 2.8rem;
    background-color:#F6D8AE;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1rem;
    border: solid; 
    border-color: #F6D8AE;
}
.BN{
    margin-left: auto;
    font-size: 2rem;
   
}
.bk{
    height: 100%;
    width: 40px;
   vertical-align: middle;
   padding-bottom: 6px;
}
.search{
    color: white;
    height: 100%;
    background-color: #b96d5a;
    padding-bottom: 3rem;
}
.options{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.options button{
    color: white;
    background-color: #E2856E;
    width: 100%;
    border: none;
    padding: 10px;
}
.options button:active{
 
    background-color: #ff967c; 
}
.nam{
    background-color:#b96d5a;
    margin-bottom: 1rem;
    position: relative;
    left: 0.8rem;
    top: 1.5rem;
    width:fit-content;
}
.bar{
    padding-right: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
    border-color: black;
}
#srch{
    margin-right: 0;
    width: 94%;
    outline: none;
    border: none;
    display: inline;
}
#srch:focus{
    border: solid;
    border-width: 1px;
}
#top{
    padding-top: 20px;
}
.dex{
    padding: 14px;
    padding-bottom: 7px;
    border: solid;
    border-width: 1px;
}
#ct{
    color: white;
    padding: 5px;
    width: auto;
    background-color: #E2856E;
    border: none;
    outline: none;
    height: 100%;
}
#ct:active{
    background-color: #ff967c; 
}
.dex p{
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}