
*{
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;

    background-color: #F6D8AE;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
}
.container{
    width: 100%;
    margin-top: 0;
    height: 100%;
    background-color: #F4D35E;
}
header{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    height: fit-content;
    border: solid;
    border-width: 1px;
    border-top: none;
}
.x{
    margin-left: 10px;
    padding-right: 10px;
    border-right: solid;
    border-color: black;
    border-width: 0 1px 0 0;
}
.y{
    margin-left: auto;
    border-left: solid;
    border-color: black;
    border-left-width: 1px;
    padding-left: 10px;
}
.ICONS{
    font-size: 2.8rem;
    background-color:#F6D8AE;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1rem;
    border: solid; 
    border-color: #F6D8AE;
}
.BN{
    margin-left: auto;
    font-size: 2rem;
   
}
.bk{
    height: 100%;
    width: 40px;
   vertical-align: middle;
   padding-bottom: 6px;
}